@model Projet_Web_Commerce.Models.PPCategories
@{
    ViewData["Title"] = "Supprimer";
}

<body>

<div>
        <h2>Supprimer une catégorie</h2>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Détails
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
    </dl>
    
    <form asp-action="Delete">
            <input type="hidden" asp-for="NoCategorie" name="Id" />
            <button type="submit" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette catégorie ?')">
                Supprimer
            </button> |
            <a asp-action="Index" class="btn btn-success">Retour à la liste</a>
    </form>
</div>
</body>
