@model Projet_Web_Commerce.Models.PPCategories


<body>

<div>
        <h2>Supprimer un Categorie</h2>
        <h4>Êtes-vous sûr de vouloir le supprimer ?</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
    </dl>
    
    <form asp-action="Delete">
            <input type="hidden" asp-for="NoCategorie" name="Id" />
            <button type="submit" class="btn btn-danger" onclick="return confirm('Confirmer Suppression')">
                Supprimer
            </button> |
            <a asp-action="Index">Retour à la liste</a>
    </form>
</div>
</body>
