@model Projet_Web_Commerce.Models.PPCategories
@{
    ViewData["Title"] = "Modifier";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Modifier une catégorie</title>
</head>
<body>

    <h2>Modifier une catégorie</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NoCategorie" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <textarea asp-for="Details" class="form-control"></textarea>
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                    <input type="submit" value="Modifier" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
        <a asp-action="Index" class="btn btn-success">Retour à la liste</a>
</div>

</body>
</html>
