@model Projet_Web_Commerce.Models.PPCategories

@{
    ViewData["Title"] = "Error";
}

<h1>Erreur ! Information introuvable, veuillez retourner à la page principale.</h1>
<div>
    <a asp-action="Index">Retour à la liste</a>
</div>