@model Projet_Web_Commerce.Models.PPClients

<h2>Confirmation que vous voulez rendre ce compte inactif</h2>

<p>Compte de @Model.AdresseEmail </p>

<form asp-action="InactifC" method="post">
    <input type="hidden" name="id" value="@Model.NoClient" />
    <button type="submit" class="btn btn-danger">Confirmer le chagment</button>
    <a href="@Url.Action("ListeClients")" class="btn btn-secondary">Annuler</a>
</form>
