@model Projet_Web_Commerce.Models.PPVendeurs

<h2>Changer le taux de redevance pour le vendeur </h2>

<p>Compte de @Model.AdresseEmail</p>

<form asp-action="Taux" method="post">
    <div class="form-group">
        <input type="hidden" name="id" value="@Model.NoVendeur" />
        <label asp-for="Pourcentage" class="control-label"></label>
        <input type="number" asp-for="Pourcentage" class="form-control" min="0" max="100" step="any" />
        <span asp-validation-for="Pourcentage" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-danger">Confirmer le chagment</button>
    <a href="@Url.Action("ListeVendeurs")" class="btn btn-secondary">Annuler</a>
</form>
