@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmation courriel";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<p>
    Vous pouvez desormais vous connecter en <a asp-area="Identity" asp-page="/Account/Login">cliquant ici</a>
</p>

