@page
@model RegisterModel2
@inject Microsoft.AspNetCore.Identity.SignInManager<Utilisateur> SignInManager

@{
    ViewData["Title"] = "Inscription vendeur";
}
@if (SignInManager.IsSignedIn(User))
{
    <a asp-area="" asp-controller="MainMenu" asp-action="Catalogue">Retour au catalogue</a>
}
else
{
<a asp-area="Identity" asp-page="/Account/Register">Retour</a>
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Créer un nouveau compte.</h2>
            <hr />
             <div class="form-floating mb-3">
                <input asp-for="Input.Prenom" class="form-control" autocomplete="Prénom" aria-required="true" placeholder="Prénom" />
                <label asp-for="Input.Prenom">Prénom</label>
                <span asp-validation-for="Input.Prenom" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Nom" class="form-control" autocomplete="Nom" aria-required="true" placeholder="Nom" />
                <label asp-for="Input.Nom">Nom</label>
                <span asp-validation-for="Input.Nom" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.NomAffaires" class="form-control" autocomplete="Nom d'affaires" aria-required="true" placeholder="Nom d'affaires" />
                <label asp-for="Input.NomAffaires">Nom d'affaires</label>
                <span asp-validation-for="Input.NomAffaires" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="courriel@exemple.com" />
                <label asp-for="Input.Email">Courriel</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmEmail" class="form-control" autocomplete="username" aria-required="true" placeholder="courriel@exemple.com" />
                <label asp-for="Input.ConfirmEmail">Confirmer le courriel</label>
                <span asp-validation-for="Input.ConfirmEmail" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Mot de passe" />
                <label asp-for="Input.Password">Mot de passe</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Mot de passe" />
                <label asp-for="Input.ConfirmPassword">Confirmer le mot de passe</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>    

            <div class="form-floating mb-3">
                <input asp-for="Input.SelectedNumberPoids" class="form-control" type="number" min="0" data-val="true" />
                <label asp-for="Input.SelectedNumberPoids">Poids max pour livraison (Kg)</label>
                <span asp-validation-for="Input.SelectedNumberPoids" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.SelectedNumberLivraison" class="form-control" type="number" min="0" data-val="true" />
                <label asp-for="Input.SelectedNumberLivraison">Prix pour livraison gratuite ($ CAD)</label>
                <span asp-validation-for="Input.SelectedNumberLivraison" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <select asp-for="Input.Tax" class="form-control" aria-required="true">
                    <option value="True">Oui</option>
                    <option value="False">Non</option>
                </select>
                <label asp-for="Input.Tax">Client doit payer taxe?</label>
                <span asp-validation-for="Input.Tax" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <select asp-for="Input.SelectedProvince" class="form-control" aria-required="true">
                    <option value="AB">Alberta</option>
                    <option value="BC">Colombie-Britannique</option>
                    <option value="MB">Manitoba</option>
                    <option value="NB">Nouveau-Brunswick</option>
                    <option value="NL">Terre-Neuve-et-Labrador</option>
                    <option value="NS">Nouvelle-Écosse</option>
                    <option value="NT">Territoires du Nord-Ouest</option>
                    <option value="NU">Nunavut</option>
                    <option value="ON">Ontario</option>
                    <option value="PE">Île-du-Prince-Édouard</option>
                    <option value="QC">Québec</option>
                    <option value="SK">Saskatchewan</option>
                    <option value="YT">Yukon</option>
                </select>
                <label asp-for="Input.SelectedProvince">Sélectionner la province</label>
                <span asp-validation-for="Input.SelectedProvince" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Ville" class="form-control" autocomplete="Nom d'affaires" aria-required="true" placeholder="Nom de la ville" />
                <label asp-for="Input.Ville">Nom de la ville</label>
                <span asp-validation-for="Input.Ville" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Rue" class="form-control" autocomplete="Nom de la rue" aria-required="true" placeholder="Nom de la rue" />
                <label asp-for="Input.Rue">Nom de la rue</label>
                <span asp-validation-for="Input.Rue" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.CodePostal" class="form-control" autocomplete="A1A 1A1" aria-required="true" placeholder="A1A 1A1" />
                <label asp-for="Input.CodePostal">Code postal</label>
                <span asp-validation-for="Input.CodePostal" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber1" class="form-control" autocomplete="999-999-9999" aria-required="true" placeholder="999-999-9999" />
                <label asp-for="Input.PhoneNumber1">Numéro de téléphone 1</label>
                <span asp-validation-for="Input.PhoneNumber1" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber2" class="form-control" autocomplete="999-999-9999" aria-required="true" placeholder="999-999-9999" />
                <label asp-for="Input.PhoneNumber2">Numéro de téléphone 2</label>
                <span asp-validation-for="Input.PhoneNumber2" class="text-danger"></span>
            </div>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary" style="color: rgb(249, 229, 71); background-color: rgb(124, 105, 146)">S'enregistrer</button>
        </form>
    </div>    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
