@{
    ViewData["Title"] = "File Not Found";
}

<div class="alert alert-danger" role="alert">
    <strong>Erreur:</strong> @ViewBag.ErrorMessage

</div>
<div>
    <a asp-action="GestionCommandes">Retour à la liste</a>
</div>