@using Microsoft.AspNetCore.Identity
@using Projet_Web_Commerce.Areas.Identity.Data

@inject SignInManager<Utilisateur> SignInManager
@inject UserManager<Utilisateur> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    bool estDansRole = await UserManager.IsInRoleAsync(user, "Client");
}

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        @if (estDansRole)
        {
            <a id="manage" class="nav-link" style="color: rgb(249, 229, 71)" asp-area="Identity" asp-page="/Account/Manage/ProfilClient" title="Manage">Mon profil</a> @*Hello @UserManager.GetUserName(User)!*@
        }
            else if ((estDansRole = await UserManager.IsInRoleAsync(user, "Vendeur")))
        {
            <a id="manage" class="nav-link" style="color: rgb(249, 229, 71)" asp-area="Identity" asp-page="/Account/Manage/ProfilVendeur" title="Manage">Mon profil</a> @*Hello @UserManager.GetUserName(User)!*@
        }
            
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" style="color: rgb(249, 229, 71)" class="nav-link btn btn-link border-0">Déconnexion</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link" style="color: rgb(249, 229, 71)" id="register" asp-area="Identity" asp-page="/Account/Register">Inscription</a>
    </li>
    <li class="nav-item">
            <a class="nav-link" style="color: rgb(249, 229, 71)" id="login" asp-area="Identity" asp-page="/Account/Login">Connexion</a>
    </li>
}
</ul>
