<style>
    .menu {
        padding: 1rem;
        width: 100px;
    }

    .title {
        background-color: black;
        color: white;
        padding: 1rem;
        text-align: center;
        font-size: 1.5rem;
    }

    ul {
        padding: 0;
        margin: 0;
    }

    .item {
        cursor: pointer;
        list-style: none;
        height: 3rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

        .item.noclick {
            height: 2rem;
            pointer-events: none;
        }

            .item.noclick:before, .item.noclick:after {
                height: 2rem;
                pointer-events: none;
            }

        .item i {
            background-color: black;
            color: white;
            width: 4rem;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: -1.375rem;
        }

        .item.active i {
            color: black;
            background-color: white;
            border-top-left-radius: 999px;
            border-bottom-left-radius: 999px;
        }

        .item:before, .item:after {
            content: "";
            display: inline-block;
            width: 3rem;
            height: 3rem;
            background-color: black;
        }

        .item:before {
            width: 4rem;
        }

        .item.active:after {
            background-color: white;
        }

        .item:has(+.active):after {
            border-bottom-right-radius: 999px;
        }

        .item.active + .item:after {
            border-top-right-radius: 999px;
        }
</style>

<div class="container-fluid">
    <div class="row">

        <div class="menu">
            <div class="title">Test</div>
            <ul>
                <li class="item noclick"><div></div></li>
                <li class="item"><i class="fa-solid fa-chart-column"></i></li>
                <li class="item"><i class="fa-solid fa-chart-column"></i></li>
                <li class="item active"><i class="fa-solid fa-chart-column"></i></li>
                <li class="item"><i class="fa-solid fa-chart-column"></i></li>
                <li class="item"><i class="fa-solid fa-chart-column"></i></li>
                <li class="item noclick"><div></div></li>
            </ul>
        </div>
        <div class="card">
            <div class="card-header">
                Messagerie
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS and jQuery (optional, depending on your needs) -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
    let items = document.querySelectorAll(".item");

    items.forEach(item => {
        item.addEventListener("click", (event) => {
            items.forEach(item => {
                item.classList.remove("active");
            });

            event.currentTarget.classList.add("active");
        });
    });
</script>
