@model Projet_Web_Commerce.Models.PPHistoriquePaiements

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>PPHistoriquePaiements</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NoHistorique" />
            <div class="form-group">
                <label asp-for="MontantVenteAvantLivraison" class="control-label"></label>
                <input asp-for="MontantVenteAvantLivraison" class="form-control" />
                <span asp-validation-for="MontantVenteAvantLivraison" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoVendeur" class="control-label"></label>
                <input asp-for="NoVendeur" class="form-control" />
                <span asp-validation-for="NoVendeur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoClient" class="control-label"></label>
                <input asp-for="NoClient" class="form-control" />
                <span asp-validation-for="NoClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoCommande" class="control-label"></label>
                <input asp-for="NoCommande" class="form-control" />
                <span asp-validation-for="NoCommande" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateVente" class="control-label"></label>
                <input asp-for="DateVente" class="form-control" />
                <span asp-validation-for="DateVente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoAutorisation" class="control-label"></label>
                <input asp-for="NoAutorisation" class="form-control" />
                <span asp-validation-for="NoAutorisation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FraisLesi" class="control-label"></label>
                <input asp-for="FraisLesi" class="form-control" />
                <span asp-validation-for="FraisLesi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Redevance" class="control-label"></label>
                <input asp-for="Redevance" class="form-control" />
                <span asp-validation-for="Redevance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FraisLivraison" class="control-label"></label>
                <input asp-for="FraisLivraison" class="form-control" />
                <span asp-validation-for="FraisLivraison" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FraisTPS" class="control-label"></label>
                <input asp-for="FraisTPS" class="form-control" />
                <span asp-validation-for="FraisTPS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FraisTVQ" class="control-label"></label>
                <input asp-for="FraisTVQ" class="form-control" />
                <span asp-validation-for="FraisTVQ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
