@model Projet_Web_Commerce.API.PostResponseCommander

    <h1>Post Response Commander</h1>

    <div>
        <h4>No Autorisation: @Model.NoAutorisation</h4>
        <h4>Date Autorisation: @Model.DateAutorisation</h4>
        <h4>Frais Marchand: @Model.FraisMarchand</h4>
        <h4>Info Supplémentaire: @Model.InfoSuppl</h4>
    </div>
