@model Projet_Web_Commerce.API.PostResponseCommander

    <h1>Post Response Commander</h1>

    <div>
        <h4>No Autorisation: @ViewBag.NoAutorisation</h4>
    <h4>Date Autorisation: @ViewBag.DateAutorisation</h4>
    <h4>Frais Marchand: @ViewBag.FraisMarchand</h4>
    <h4>Info Supplémentaire: @ViewBag.InfoSuppl</h4>
    </div>
