@model List<Projet_Web_Commerce.Models.PPProduits>

<div class="row">
    <div class="col">
        <section>

            <h3>Liste des Vendeurs à confirmer</h3>
            <div class="container mt-4">
                @if (Model != null && Model.Any())
                {
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-md-6 mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.NoProduit)</h5>
                                        <p class="card-text">No Vendeur: @Html.DisplayFor(modelItem => item.NoVendeur)</p>
                                        <p class="card-text">Date de demande : @Html.DisplayFor(modelItem => item.DateCreation)</p>
                                        <form asp-controller="MainMenu" method="post">
                                            <input type="hidden" name="NoProduit" value="@item.NoProduit" />
                                            <button type="submit" class="btn btn-primary">Détails</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <p>Aucun vendeur à confirmer.</p>
                }
            </div>
        </section>
    </div>
</div>
