@{
}

<div class="row">
    <div class="col-md-4">
        @if (Model != null && Model.Paniers != null){
            @foreach (var item in Model.Paniers)
            {
                <div class="row"> 
                    <a asp-page="/Views/Panier">@Model.Paniers.vendeur</a> 
                    <p>(@Model.Paniers.articles.Count)</p>
                </div>
            }
        }
        else
        {
            <p>Vous n'avez pas d'articles dans votre panier</p>
        }
    </div>
</div>
